<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - Error</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </nav>
</header>
<div class="container">
    @RenderBody()
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - Puik</p>
</footer>
</body>
</html>
